---
import Main from '../components/Main.astro';
import Artist from '../components/Artist.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Main />
	<body>
	<div class="music">
		<Artist image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" artist="Miley Cyrus" type="kunster"/>
		<Artist image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" artist="Miley Cyrus" type="kunster"/>
		<Artist image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" artist="Miley Cyrus" type="kunster"/>
		<Artist image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" artist="Miley Cyrus" type="kunster"/>
	</div>
</body>
</Layout>

<style>
	.music {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem; 
    align-items: start;
	background-color: aliceblue;
	padding: 2rem;
	margin: 2rem;
	}

	.logo img {
        max-width: 100px;
    }

    body {
        background-color: rgb(33, 24, 39);
    }
</style>

