---
import Main from '../components/Main.astro';
import Artist from '../components/Artist.astro';
import Album from '../components/Album.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Main />
	<body>
		<h2>Popular artists</h2>
	<section class="profile">
		<Artist image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" artist="Miley Cyrus" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" artist="Fonzworth Bentley" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill" artist="Miley Cyrus" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" artist="Jay-z" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill" artist="Alan jackson" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill" artist="Michael Jackson" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill" artist="Jonas Brothers" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=8&q=95&w=360&h=360&fit=fill" artist="Lil Wayne" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill" artist="Black Eyed Peas" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=10&q=95&w=360&h=360&fit=fill" artist="Miley Cyrus" type="Artist"/>
	</section>

	<h2>Popular songs</h2>
	<section class="profile">
		<Album image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" song="Bangerz" artist="Miley Cyrus"/>
		<Album image="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" song="Everybody" artist="Fonzworth Bentley"/>
		<Album image="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill" song="Miley Cyrus" artist="Singer"/>
		<Album image="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" song="Swagga Like Us" artist="Jay-z"/>
		<Album image="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill" song="The Greatest Hits Collection" artist="Alan Jackson"/>
		<Album image="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill" song="Billie Jeans" artist="Michael Jackson"/>
		<Album image="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill" song="Jonas Brothers" artist="Singer"/>
		<Album image="https://via.assets.so/album.png?id=8&q=95&w=360&h=360&fit=fill" song="Rebirth" artist="Lil Wayne"/>
		<Album image="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill" song="Monkey Business" artist="Black Eyed Peas"/>
		<Album image="https://via.assets.so/album.png?id=10&q=95&w=360&h=360&fit=fill" song="Miley Cyrus" artist="Singer"/>
	</section>
</body>
</Layout>

<style>

	h2 {
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		color: white;
		padding: 1.5rem;
	}
	.profile {
    display: grid;
	grid-template-columns: repeat(5, 1fr);
    align-items: start;
	}

    body {
		background-image: linear-gradient(rgb(33, 24, 39), rgb(81, 44, 80));
		background-repeat: no-repeat;
    }
</style>

