---
import Artist from '../components/Artist.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Album from '../components/Album.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>

	<Header/>

	<main class="main-container">
		<Sidebar />
		<section class="content">
		<h2>Popular artists</h2>
	<section class="profile">
		<Artist image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" artist="Miley Cyrus" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" artist="Fonzworth Bentley" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill" artist="Rihanna" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" artist="Jay-z" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill" artist="Alan jackson" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill" artist="Michael Jackson" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill" artist="Jonas Brothers" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=8&q=95&w=360&h=360&fit=fill" artist="Lil Wayne" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill" artist="Black Eyed Peas" type="Artist"/>
		<Artist image="https://via.assets.so/album.png?id=10&q=95&w=360&h=360&fit=fill" artist="Dierks Bentley" type="Artist"/>
	</section>

	<h2>Popular songs</h2>
	<section class="profile">
		<Album image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" song="Bangerz" artist="Miley Cyrus"/>
		<Album image="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" song="Everybody" artist="Fonzworth Bentley"/>
		<Album image="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill" song="FourFiveSeconds" artist="Rihanna"/>
		<Album image="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" song="Swagga Like Us" artist="Jay-z"/>
		<Album image="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill" song="The Greatest Hits Collection" artist="Alan Jackson"/>
		<Album image="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill" song="Billie Jeans" artist="Michael Jackson"/>
		<Album image="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill" song="BB Good" artist="Jonas Brothers"/>
		<Album image="https://via.assets.so/album.png?id=8&q=95&w=360&h=360&fit=fill" song="Rebirth" artist="Lil Wayne"/>
		<Album image="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill" song="Monkey Business" artist="Black Eyed Peas"/>
		<Album image="https://via.assets.so/album.png?id=10&q=95&w=360&h=360&fit=fill" song="Black" artist="Dierks Bentley"/>
	</section>
		</section>
</main>
</Layout>

<style>

	h2 {
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		color: white;
		padding: 1.5rem;
		padding-bottom: 0%;
	}
	.profile {
    display: grid;
	grid-template-columns: repeat(5, 1fr);
    align-items: start;
	}

	.main-container {
    display: flex;
    height: 100vh;
	margin-top: 60px;
}

.content {
    flex: 1; 
    margin-left: 250px; 
    padding: 2rem;
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgb(33, 24, 39), rgb(81, 44, 80));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

