---
const { image, song, artist } = Astro.props;
---
<article>
    <img src={image} alt=""/>
    <h3>{song}</h3>
    <p>{artist}</p>
</article>

<style>
    article {
    background-color: rgb(19, 2, 32);
    gap: 2rem;
	padding: 2rem;
	margin: 1rem;
	border-radius: 10px;
        
    }

    h3, p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
    }
    

    img {
    width: 100%; 
    max-width: 250px; 
    height: auto; 
    border-radius: 5px; 
}

</style>