---
const { image, artist, type } = Astro.props;
---
<article>
    <img src={image} alt=""/>
    <h3>{artist}</h3>
    <p>{type}</p>
</article>

<style>
    article {
    /* background-color: rgb(13, 0, 22); */
    gap: 2rem;
	padding: 2rem;
	margin: 1rem;
	border-radius: 10px;
    }

    article:hover {
        background-color: rgba(13, 0, 22, 0.432);
        transition: background-color 0.3s;
    }

    h3, p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
    }
    

img {
    width: 100%; 
    max-width: 250px; 
    height: auto; 
    border-radius: 50%; 
}

</style>