
<body>
<section class="sidebar">
    <h2>Your Library</h2>

    <div>
        <h3>Create your first playlist</h3>
        <p>It's easy, we'll help you</p>
        <button>Create playlist</button>
    </div>

    <div>
        <h3>Let's find some podcasts to follow</h3>
        <p>We'll keep you updated on new episodes</p>
        <button>Browse podcasts</button>
    </div>

</section>
<body/>

<style>
    
.sidebar {
    width: 250px;
    background-color: rgb(19, 2, 32);
    padding: 1rem;
    color: white;
    position: fixed;
    height: 100%;
}
</style>