
<body>
<section class="sidebar">
    <h2>Your Library</h2>

    <div class="sidebar_container">
        <h3>Create your first playlist</h3>
        <p>It's easy, we'll help you</p>
        <button>Create playlist</button>
    </div>

    <div class="sidebar_container">
        <h3>Let's find some podcasts to follow</h3>
        <p>We'll keep you updated on new episodes</p>
        <button>Browse podcasts</button>
    </div>

</section>
<body/>

<style>
    .sidebar_container{
        background-color: rgb(81, 44, 80);
        padding: 1rem;
        margin: 0.5rem;
        width: 200px;
        border-radius: 5px;
    }
.sidebar {
    width: 250px;
    background-color: rgb(19, 2, 32);
    padding: 1rem;
    color: white;
    position: fixed;
    height: 100%;
}
</style>